@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("../public/ascii-art.png");
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    z-index: -1; /* background dietro al contenuto */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html, body {
    overscroll-behavior: none
}
/*Minimal Scrollbar*/
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(217, 119, 6);
}

html {
    font-family: monospace;
}

/*Chat Animation*/
.chat-bubble {
    animation: bounce 0.8s ease both;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}


/*TypingEffect*/
#fixed-type {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
}

#typing-wrapper {
    position: absolute;
    margin-bottom: -50rem;
    background-color: rgba(255, 255, 255, 0.5);
}

#typing {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    overflow: hidden;
}

#cursor {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    border-right: 0.1em solid #e2601a; /* Colore Cursore */
    animation: blink-caret 0.75s step-end infinite;
    height: 1em; /* Assicurarsi che il cursore sia alto quanto il testo */
    vertical-align: middle;
}

/* Blinking cursor animation */
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

#chatBackground::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("../public/ascii-art3.png");
        background-size: contain;
        background-position: center;
        z-index: -1; /* background dietro al contenuto */
    }


/* Disabilita la selezione del testo su tutti gli elementi */
* {
    user-select: none;
    -webkit-user-select: none; /* Safari e Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/** {*/
/*   border: black 1px solid;*/
/*}*/